.textbox{
	height: 22px;
	padding: 0 2px;
}

.textarea{
	line-height:22px;
	font-family: Arial;
	height: 50px;
	min-width:520px;
	max-width: 520px;
	overflow:scroll;
	overflow-x:hidden;
}

#hint{
	display:block;
	background: #fffee6;
	height:42px;
	/* margin:5px; */
	position: fixed;
	width:100%;
}

#hint span{
	line-height: 40px;
	color: #8f5700;
	margin-left:10px;
}

#hint span a{
	display:none;
	margin-left:10px;
	color: #fff;
	background: #42C969;
	/* display: inline; */
	padding:6px 15px;
	font-weight:bold;
	text-decoration: none;
}

